<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.usc.cesr.ema_uas">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  <!-- to record sound -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera2" android:required="true"></uses-feature>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.CAMERA" ></uses-permission>

    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.AlarmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AdminActivity"
            android:screenOrientation="portrait" />

        <service android:name=".alarm.AlarmService" />

        <receiver android:name=".alarm.AlarmReceiver" />

        <service
            android:name=".Service.AccelerometerService"
            android:icon="@drawable/ic_launcher"
            android:label="AccelerometerService"
            android:exported="true"

            >
        </service>
        <!--<service android:name=".Service.AccelerometerService" />-->

        <activity
            android:name=".ui.SoundRecordingActivity"
            android:label="@string/title_activity_sound_recording"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.usc.cesr.ema_uas.ui.MainActivity" />
        </activity>
        <activity android:name=".ui.VideoRecorderActivity">
        </activity>
        <receiver android:name=".alarm.NotificationPublisher">]
            <intent-filter>
                <action android:name="edu.usc.cesr.ema_uas.action.DISPLAY_NOTIFICATION"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
